<body>
<section class="wrapper">
  <div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
      <div class="logo">
        <img decoding="async" src="images/logo.png" class="img-fluid" alt="logo">
      </div>
      <form class="rounded bg-white shadow p-5" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h3 class="text-dark fw-bolder fs-4 mb-2">Forget Password?</h3>

        <div class="fw-normal text-muted mb-4">
          Enter your email to reset your password.
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
          <label for="floatingInput">Email address</label>
          <div
                class="textcolour"
                *ngIf="
                  formControls['email'].touched &&
                  formControls['email'].hasError('required')
                "
              >
                Email is required
              </div>
              <div
                class="textcolour"
                *ngIf="
                  formControls['email'].touched &&
                  formControls['email'].hasError('email')
                "
              >
                Invalid email format
              </div>
              
              <div
              class="textcolour"
              *ngIf="isuserpresent"
            >
              No user of this Email Id
            </div>
        </div>

        <button type="submit" class="btn btn-primary submit_btn my-4" (click)="openDialog()" >Get otp</button>
        <button type="button" class="btn btn-secondary submit_btn my-4 ms-3" [routerLink]="['/login']">Cancel</button>
      </form>
    </div>
  </div>
</section>
</body>