<!-- <p>forgot-password works!</p> -->
<!-- <div class="form-gap"></div>
<div class=" card  container bg-light ">
	<div class="row ">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center justify-content-end">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div> -->

<section class="wrapper">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <div class="logo">
                <img decoding="async" src="images/logo.png" class="img-fluid" alt="logo">
            </div>
            <form class="rounded bg-white shadow p-5">
                <h3 class="text-dark fw-bolder fs-4 mb-2">Forget Password ?</h3>

                <div class="fw-normal text-muted mb-4">
                    Enter your email to reset your password.
                </div>  

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>  

                <button type="submit" class="btn btn-primary submit_btn my-4">Submit</button>
                <button type="submit" class="btn btn-secondary submit_btn my-4 ms-3">Cancel</button> 
            </form>
        </div>
    </div>
</section>