<div class="headline">
    <h1>Admin Analytics</h1>
</div>

<div class="barchart-container">
    <div class="barchart-card">
        <h2 class="user-plan-graph-headline">Users Subscribed to Each Plan</h2>
        <canvas id="barchart"></canvas>
    </div>
</div>

<div class="piechart-container">
    <div class="piechart-card">
        <h2 class="plan-catagory-graph-headline">Users per Plan Category</h2>
        <canvas id="piechart"></canvas>
    </div>
</div>

<div class="piechart-container">
    <div class="piechart-card">
        <h2 class="plan-catagory-graph-headline">Type of Users</h2>
        <canvas id="Di-types-piechart"></canvas>
    </div>
</div>

<div class="barchart-container">
    <div class="barchart-card">
        <h2 class="Total-revenue-graph-headline">Total Revenue</h2>
        <canvas id="revenue-barchart"></canvas>
    </div>
</div>

