

  <nav class="navbar navbar-expand-sm  h6 bg-dark sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="https://cdn.pixabay.com/photo/2017/09/07/10/25/logo-2724481_1280.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
      </a>
      <span class="navbar-text" style="color:white">RevSpeed</span>
  
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end  " id="collapsibleNavbar" >
      <ul class="navbar-nav nav-pills justify-content-end  ">
       
      
        <li class="nav-item">
          <!-- <a (click)="logOut()" class="nav-link btn"data-bs-toggle="pill" routerLink="../login" >Logout</a> -->
         
        </li>

        <div class="navbar-right">
          <ul class="nav navbar-nav navbar-nav-bordered">
              <li class="dropdown user active" id="user-drop">
                <span class="caret">Aakash Solanke</span>
                <img ng-if="internImageUrl" ng-src="https://app.revature.com/core/resources/download/interns/150088/image?t=1704962420993" alt="" id="user-dropa" class="img-circle profileUpdate ng-scope" src="https://app.revature.com/core/resources/download/interns/150088/image?t=1704962420993" style="">

                  <!-- <a href="" class="user ng-binding" ng-click="userDrop()" id="user-dropa">
                      
                     
                     
                  </a> -->
                  <ul class="dropdown-menu cust-drpdown" role="menu">
                      <!-- ngIf: menuDetails.isProfileEnabled -->
                      <li ng-if="menuDetails.isProfileEnabled" ng-class="{ active: !activePortfolio &amp;&amp; checkCurrentPath('profile') }" class="ng-scope">
                          <a href="" ng-click="toMyProfile()"><i class="fa fa-user"></i><span>User Profile</span></a>
                      </li>
                      <!-- <H6>User Profile</H6> -->
                      <!-- end ngIf: menuDetails.isProfileEnabled -->
                      <!-- ngIf: menuDetails.isPortfolioEnabled -->
                      <!-- <li ng-if="menuDetails.isPortfolioEnabled" ng-class="{ active: activePortfolio || checkCurrentPath('portfolio') }" class="ng-scope">
                          <a href="" ng-click="toMyPortfolio()"><i class="fa fa-fw fa-pie-chart"></i><span></span></a>
                      </li> -->
                      <!-- end ngIf: menuDetails.isPortfolioEnabled -->
                      <!-- ngIf: !adminToken -->
                      <li ng-if="!adminToken" class="ng-scope">
                          <a href=""(click)="logOut()"  onclick="return!1"><i class="fa fa-sign-out"></i> <span>Signout</span></a>
                      </li>
                      <!-- end ngIf: !adminToken -->
                      <!-- ngIf: adminToken -->
                  </ul>
              </li>
          </ul>
        </div>
 
      </ul>
    </div>
    
    </div>
  </nav>