.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}
.nav{
  height: 10vh;
  padding: 15px;
}

.btn:hover{
  background-color:rgb(238, 238, 238);
  color:rgb(50, 15, 15);
  transition: 0.1s ease-in-out;
}
.nav-link{
  color:white;
}
.nav1{

  background-color: blue;
}


// profile
.navbar-right {
  /* Add any necessary styles for the navbar-right container */
}

.navbar-nav {
  /* Add any necessary styles for the navbar-nav */
}

.dropdown {

  /* Add any necessary styles for the dropdown */
 
  position: relative;
  display: inline-block;
}
img{
  margin-left: 50%;
  width: 3%;
  border-radius: 50%;
 }
.dropdown-menu {
  /* Add any necessary styles for the dropdown menu */
  display: none;
  position: absolute;
  background-color: #dfdfdf; /* Adjust the background color as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow as needed */
  z-index: 1;
  margin-top: 5%;
  margin-left: 50%;
  padding-left: 15%;
  
  li{
    padding: 2%;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}
