<footer class="bg-dark text-light p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis quod similique eos neque fuga animi ipsum, accusantium voluptatum, in ea praesentium. Deleniti possimus amet, ipsam vero harum quis ullam!</p> -->
        <h3>BROADBAND PLANS</h3>
        <ul class="list-inline">
          <li>Student plan</li>
          <li>Office plan</li>
          <li>Home Plan</li>
          <li>Personal Plan</li>
          <li>Group Plan</li>
        </ul>
      </div>

      <div class="col-sm-3 text-md-right">
        <h3>QUICK LINKS</h3>
        <ul class="list-inline">
          <li>
            <a href="#" style="text-decoration: none; color: #ffff">Home</a>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color: #ffff">About</a>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color: #ffff">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-md-right">
        <div>
          <h3>SOCIAL MEDIA LINKS</h3>
        </div>
        <h1></h1>
        <ul style="list-style: none; ">
          <li >
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f" style="color: #4267b2;"></i>
            </a>
          </li>
          <li>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter" style="color: #1da1f2"></i>
            </a>
          </li>
          <li>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google" style="color: #db4437"></i>
            </a>
          </li>
          <li>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram" style="color: #e4405f"></i>
            </a>
          </li>
          <li>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin" style="color: #0077b5"></i>
            </a>
          </li>
          <li>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github" style="color: #171515"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-md-right">
        <h3>CONTACT US</h3>
        <address>
          <p>revspeed&#64;gmail.com</p>
          <p>+91 9876543210</p>
        </address>
      </div>
    </div>
  </div>
  <hr />
  <div class="fbg"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.pixabay.com/photo/2017/09/07/10/25/logo-2724481_1280.png"
            alt="Avatar Logo"
            style="width: 40px"
            class="rounded-pill"
          />
        </a>
        <span class="navbar-text" style="color: white">&nbsp;RevSpeed</span>
      </div>

      <div class="col-sm-4 text-sm-center">
        <p>&copy; 2024 Your Website. All rights reserved.</p>
      </div>
      <div class="col-sm-4">
        <p class="text-end">
          <img
            src="https://t4.ftcdn.net/jpg/03/76/66/29/360_F_376662920_zqGXBodBGhHkUQEFbnHt1FuQSV7stYVi.jpg"
            alt=""
            height="50px"
            width="200px"
            class="rounded-pill"
          />
        </p>
      </div>
    </div>
  </div>
</footer>
