
<!-- 
<mat-form-field>
    <input matInput [formControl]="filterControl" (keyup)="applyFilter()" placeholder="Type to search">
</mat-form-field> -->

<mat-table [dataSource]="dataSource" matSort matSortActive="username" matSortDirection="asc">

    <!-- UserID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UserID</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
    </ng-container>
  
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
    </ng-container>
  
    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.phone }}</mat-cell>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>
  
    <!-- UserStatus Column -->
    <ng-container matColumnDef="userStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Status</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-raised-button [ngClass]="{'mat-primary': user.userStatus === 'active', 'mat-warn': user.userStatus === 'inactive'}">
          {{ user.userStatus }}
        </button>
      </mat-cell>
    </ng-container>

    <!-- PlanStatus Column -->
    <ng-container matColumnDef="userplanStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Plan Status</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-raised-button [ngClass]="{'mat-primary': user.userplanStatus === 'active' && user.userStatus !== 'inactive', 'mat-warn': user.userplanStatus === 'inactive' || user.userStatus === 'inactive'}">
          {{ user.userStatus === 'inactive' ? 'inactive' : user.userplanStatus }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  