.example-spacer {
    flex: 1 1 auto;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .nav{
    height: 10vh;
    padding: 15px;
    
  }

  .navbar{
    background-color: #cccccc;
    
  }

  .btn:hover{
    border-bottom: 2px solid #006fff;
    color:#006fff ;
    border-radius: 0;
    transition: 0.1s ease-in-out;
  }
  .nav-link{
    color:rgb(22, 21, 21);
    margin-right: 30px
  }
  .nav1{

    background-color: blue;
  }

  img{
    width: 50px;
    border-radius: 50%;
   }

   .login-div{
    width: 60px;
    margin-left: 12px;
    display: contents;
  
   }
   .login-regis{
    display: contents;
   }