<!-- home page slider -->


<!-- slider -->
<section>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/images/home-page/home2.jpg" class="d-block w-100" alt="..." width="100%" height="500vh">
        
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/home-page/home1 (1).jpg" class="d-block w-100" alt="..."  width="100%" height="500vh%">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/home-page/home3.png" class="d-block w-100" alt="..." width="100%" height="500vh%">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p> -->
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- cards -->
<section>
  <div class="section-title">
    <h1>Plans</h1>
  </div>
<div class="crad-diaplay">
  
  <div class="card" [class.expanded]="!isExpanded" (click)="toggleCard()">
    <div class="card-content">
      <div class="card-header">
        <h3>{{ cardTitle }}</h3>
      </div>
      <p>{{ cardDescription }}</p>
      <p>khskahgsdkakfkjldhflkjahdkfjhkajhdfkjadfkjfkldjlkjfdkjfkjdfk</p>
    </div>
  </div>

  <div class="card" [class.expanded]="!isExpanded1" (click)="toggleCard1()">
    <div class="card-content">
      <div style="overflow: hidden;" class="card-header">
        <h1 style="color: #ed3034">40 Mbps</h1>
        <img
          class="card-router-svg"
          src="../assets/images/speed-thunder-svg.svg"
        />
        <h4>free</h4>
        <!-- <div class = "vertical"></div> -->
        <img
          class="card-router-svg"
          src="../assets/images/free-router-svg.svg"
        />
        <h4>free</h4>
        <!-- <div class = "vertical"></div> -->
        <img
          class="card-router-svg"
          src="../assets/images/free-installation-svg.svg"
        />
        <h4>free</h4>
      </div>
      <!-- <h2 style="color: black;font-size: large;">{{ cardDescription }}</h2> -->

      <div *ngIf="isExpanded1">
        <div class="discription-for-card-contaenet">
          <div class="left">
            <h5>600 GB Broadband Data</h5>
            <h2 style="color: black; font-size: large">
              {{ cardDescription }}
            </h2>
            <h3>$750/month*</h3>
          </div>

          <div class="ott right">
            <h5>Ott App Inclued</h5>
            <div class="ott-div">
              <img
                class="card-router-svg"
                src="../assets/images/ottPlatform/disney_plus_ott.webp"
              />
              <img
                class="card-router-svg"
                src="../assets/images/ottPlatform/netflix-ott.png"
              />
              <img
                class="card-router-svg"
                src="../assets/images/ottPlatform/zee-5-ott.png"
              />
              <img
                class="card-router-svg"
                src="../assets/images/ottPlatform/jio-cinema-ott.png"
              />
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <button mat-fab extended color="warn">Buy Now</button>
  </div>

  <div class="card" [class.expanded]="!isExpanded2" (click)="toggleCard2()">
    <div class="card-content">
      <div class="card-header">
        <h3>{{ cardTitle }}</h3>
      </div>
      <p>{{ cardDescription }}</p>
      <!-- Additional details go here -->
    </div>
  </div>
</div>
</section>





<!-- Testimonial section starts-->
<section class="testimonial-section">
  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let review of reviews; let i = index">
      <div class="card-container">
      <div class="card card-3d">
        <div class="card-header">
          <h5 class="card-title">{{review.userName | uppercase}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{review.companyName}}</h6>
          <div class="star-rating">
            <!-- Display stars based on the rating -->
            <img *ngFor="let star of getStars(review.rating)" src="../../../assets/images/OIG.jpg" alt="Star" class="rounded-pill">
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{review.comment}}</p>
        </div>
      </div>
    </div>
    </ng-template>
  </ngb-carousel>
</section>
<!-- Testimonial section Ends-->