
  /* add plan form-popup */
  .form-popup {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Added position relative for absolute positioning of buttons */
    overflow: hidden;
    max-height: 80vh; /* Set a maximum height, adjust as needed */
    overflow-y: auto;
  }


.form-check {
  margin-bottom: 8px; /* Add margin between checkboxes */
  display: flex; /* Use flexbox to align checkbox and label horizontally */
  align-items: center; /* Align items vertically in the center */
}

.form-check-input {
  margin-right: 8px; /* Adjust spacing between checkbox and label */
  width: auto;
}

/* Add spacing between checkbox and label */
.form-check-label {
  margin-left: 4px;
}

  .popup-form{
    width: 30rem;
  }
  .popup-title{
    text-align: center;
    font-weight: 500;
  }
  .close-button {
    background-color: #2475f8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textcolour{
    color: #f44336;
  }
  
  .example-section {
    margin: 12px 0;
  }

  .submit-button {
    background-color: #00629b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    margin-bottom: 1rem;
  }
  
  .submit-button:hover {
    background-color: #01324f;
  }
  