<!-- <p>about-us works!</p> -->
<!-- <p>home-page works!</p> -->
<!-- about us starts here -->

<div class="container text-center about">
    <div class="row">
      <span><strong><h1>ABOUT US</h1></strong></span>
      <div class="col about1">
       
        <p>REVSPEED was born out of a vision to become the most admired in-the-home entertainment, education and interactive services company that creates radical social transformation, and delights and empowers customers.</p>

          <p>Today, we are closer than ever to realising it. Based in Bangalore, we serve a number of cities and towns in Karnataka, Andhra Pradesh, Telangana, Tamil Nadu and Delhi. We are one of the country’s most renowned cable and broadband company, bringing state-of the art services to nearly 2 million happy homes:</p>
          <!-- <h1>DETAILS</h1><br> -->
          <ul>
              <li>Fibernet(internet over fiber optics)</li>
              <li>Digital TV</li>
              <li>HDTV</li>
          </ul>
      </div>
      <div class="col img1" >
        <img src="../../../assets/images/about-us/team.png" alt="about-us"  width="600px" height="400px">
      </div>
    </div>
  </div>


  <div class="container text-center proverb">
    <div class="col-btn">
        <p>We offer broadband on optic fiber and our Fiber-To-The-Home technology can carry vast amount of information at speeds up to 1 Gbps. We are currently the largest fiber broadband services provider in the wired broadband category, and the largest non-telco ISP in the country.</p>
    </div>
  </div>

  
   <div class="container">
    <div class="col-12 b2b">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis dicta hic harum natus explicabo praesentium, fugiat illo quae laborum iure, ad libero? Ipsum officiis perspiciatis molestias reprehenderit aliquid exercitationem.</p>
         <img src="..//..//..//assets/b2b.jpeg" alt="" width="200px" height="200px">
    </div>
   </div>

   <div class="container">
    <div class="col-12 b2c">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis dicta hic harum natus explicabo praesentium, fugiat illo quae laborum iure, ad libero? Ipsum officiis perspiciatis molestias reprehenderit aliquid exercitationem.</p>
        <img src="..//..//..//assets/cable.jpg" alt="">
    </div>
   </div>


  <div class="container text-center proverb">
    <div class="col-btn ">
      
        <p>We’ve always believed in giving our customers the very best, and our vision is for every Indian home to have access to world class internet services.</p>
        
    </div>
  </div> 
  <div class="container text-center">
    <div class="col-btn">
      
      <img src="https://actcorp.in/themes/actcorp/img/caBg.png" alt="" height="120vh" width="100%">
      
    </div>
  </div> 


<!-- about  us ends here -->
