
<!-- about us starts here -->

<div class="container text-center about">
  <div class="row">
    <span><strong><h1>ABOUT US</h1></strong></span>
    <div class="col about1">
     
      <p>REVSPEED was born out of a vision to become the most admired in-the-home entertainment, education and interactive services company that creates radical social transformation, and delights and empowers customers.</p>

        <p>Today, we are closer than ever to realising it. Based in Bangalore, we serve a number of cities and towns in Karnataka, Andhra Pradesh, Telangana, Tamil Nadu and Delhi. We are one of the country’s most renowned cable and broadband company, bringing state-of the art services to nearly 2 million happy homes:</p>
        <!-- <h1>DETAILS</h1><br> -->
        <ul>
            <li>Fibernet(internet over fiber optics)</li>
            <li>Digital TV</li>
            <li>HDTV</li>
        </ul>
    </div>
    <div class="col img1" >
      <img src="../../../assets/team.png" alt="about-us"  width="600px" height="400px">
    </div>
  </div>
</div>


<div class="container text-center proverb">
  <div class="col-btn">
      <p>We offer broadband on optic fiber and our Fiber-To-The-Home technology can carry vast amount of information at speeds up to 1 Gbps. We are currently the largest fiber broadband services provider in the wired broadband category, and the largest non-telco ISP in the country.</p>
  </div>
</div>


 <div class="container box1" >
  <div class="row">
    <span><h1>BUSINESS</h1></span>
  <div class="col-8">
    <span><h5>Broadband</h5></span>
      <p>REVSPEED Broadband offers high-speed data and voice services through the Internet. Primarily, it offers high speed Internet services to residential, corporate and SME customers. For corporate and SME customers YOU offers dedicated leased line to enable them to send huge amounts of data. First Broadband operator in India to offer 100 Mbps to homes.</p>
  </div>
  <div class="col-4">
    <img src="../../../assets/cable.jpg" alt="" width="300px" height="200px">
  </div>
</div>
 </div>

 <div class="container box1">
  <div class="row">
  <div class="col-4">
      <img src="../../../assets/b2b.jpeg" alt="" width="300px" height="200px">
  </div>
  <div class="col-8">
    <span><h5>Enterprise solutions</h5></span>
    <p>YOU Broadband offers high speed Internet services to corporate and SME customers. For corporate and SME customers YOU offers dedicated leased line to enable them to send huge amounts of data.</p>
  </div>

</div>
 </div>


<div class="container text-center proverb">
  <div class="col-btn ">
    
      <p>We’ve always believed in giving our customers the very best, and our vision is for every Indian home to have access to world class internet services.</p>
      
  </div>
</div> 
<div class="container text-center">
  <div class="col-btn">
    
    <img src="https://actcorp.in/themes/actcorp/img/caBg.png" alt="" height="120vh" width="100%">
    
  </div>
</div> 


<!-- about  us ends here -->
