<!-- <p>login works!</p> -->
<div class="body-colour">
  <img class="left" src="../assets/images/loginsvg.svg" />

  <div clas="right" class="container vh-100" style="width: 40%;">
    <div class="row justify-content-center h-100">
      <div class="card my-auto shadow">
        <div class="card-body px-5">
          <div class="text-center"></div>
          <div class="text-center ">
            <h2 class="example">Welcome To RevSpeed</h2>
          </div>
          <p style="color: lightslategray; text-align: center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your
            login details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="email"
                id="email"
                placeholder="Email"
                class="form-control"
                formControlName="email"
                name="email"
              />
              <div
                class="textcolour"
                *ngIf="
                  formControls.email.touched &&
                  formControls.email.hasError('required')
                "
              >
                Email is required
              </div>
              <div
                class="textcolour"
                *ngIf="
                  formControls.email.touched &&
                  formControls.email.hasError('email')
                "
              >
                Invalid email format
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                id="password"
                placeholder="Password"
                class="form-control"
                formControlName="password"
                name="password"
              />
              <div
                class="textcolour"
                *ngIf="
                  formControls.password.touched &&
                  formControls.password.hasError('required')
                "
              >
                Password is required
              </div>
              <div
                class="textcolour"
                *ngIf="
                  formControls.password.touched &&
                  formControls.password.hasError('minlength')
                "
              >
                Password should be at least 6 characters long
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-primary w-100"
              value="Login"
              name=""
              [disabled]="!loginForm.valid"
            />
          </form>
        </div>
        <div class="card-footer text-right">
          <small><a routerLink="../forgot-password">Forgot Password</a></small>
        </div>
        <div class="card-footer text-right">
          <small><a routerLink="../registeration">Register</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-header></app-header>
<div class="bootsrap-wrapper">
    <div class="container mt text-center">
        <h1 class="text-center">Welcome to RevSpeed</h1>
        <button mat-raised-button color="accent" >login</button>
    </div>
</div> -->
