.headline{
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
    background-color: #113c60; /* Background color */
    color: #fff; /* Text color */
    margin-bottom: 20px; /* Adjust margin as needed */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-plan-button {
    margin-bottom: 20px;
    margin-right: 10px;
  }