<!-- form-popup.component.html -->
<h1 mat-dialog-title class="popup-title">Complete the form below to Add a User</h1>

<div class="form-popup">
    <div mat-dialog-actions>
        <button class="close-button" mat-button (click)="closeForm()">Close</button>
    </div>
    <br>
    <br>
    <form [formGroup]="formData" (ngSubmit)="submitForm()" class="popup-form">

        <label for="firstName">Enter First Name</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" placeholder="First name">
        <div class="textcolour" *ngIf="formControls['firstName'].touched && formControls['firstName'].hasError('required')">
            First Name is required
        </div>

        <label for="lastName">Enter Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" placeholder="Last name">
        <div class="textcolour" *ngIf="formControls['lastName'].touched && formControls['lastName'].hasError('required')">
            Last Name is required
        </div>

        <label for="email">Enter Email</label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="Email" [attr.disabled]="data && data.user ? 'disabled' : null">
        <div class="textcolour" *ngIf="formControls['email'].touched && formControls['email'].hasError('required')">
            Email is required
        </div>
        <div class="textcolour" *ngIf="formControls['email'].touched && formControls['email'].hasError('email')">
            Enter a valid email address
        </div>

        <label for="phoneNo">Enter Phone Number</label>
        <input type="tel" id="phoneNo" name="phoneNo" formControlName="phoneNo" placeholder="Phone number">
        <div class="textcolour" *ngIf="formControls['phoneNo'].touched && formControls['phoneNo'].hasError('required')">
            Phone Number is required
        </div>

        <label for="password">Enter Password</label>
        <input type="password" id="password" name="password" formControlName="password" placeholder="Password" [attr.disabled]="data && data.user ? 'disabled' : null">
        <div class="textcolour" *ngIf="formControls['password'].touched && formControls['password'].hasError('required')">
            Password is required
        </div>
        <div class="textcolour" *ngIf="formControls['password'].touched && formControls['password'].hasError('minlength')">
            Password must be at least 8 characters long
        </div>

        <label for="address">Enter Address</label>
        <input type="text" id="address" name="address" formControlName="address" placeholder="Address">
        <div class="textcolour" *ngIf="formControls['address'].touched && formControls['address'].hasError('required')">
            Address is required
        </div>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
