 <div class="formdivclass">
    <div class="form">
      <div class="container">
        <div class="content">
          <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
            <h1>Update Your Profile</h1>
            <div class="user-details">
              <div class="input-box">
                <span class="details">First Name</span>
                <input
                  type="text"
                  placeholder="Enter your name"
                  formControlName="firstName"
                  *ngIf="existingData"
                  [value]="existingData?.firstName"
                />
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['firstName'].touched &&
                    formControls['firstName'].hasError('required')
                  "
                >
                  First Name is required
                </div>
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['firstName'].touched &&
                    formControls['firstName'].hasError('maxlength')
                  "
                >
                  First Name should be at most 50 characters long
                </div>
              </div>
  
              <div class="input-box">
                <span class="details">Last Name</span>
                <input
                  type="text"
                  placeholder="Enter your last name"
                  formControlName="lastName"
                />
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['lastName'].touched &&
                    formControls['lastName'].hasError('required')
                  "
                >
                  Last Name is required
                </div>
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['lastName'].touched &&
                    formControls['lastName'].hasError('maxlength')
                  "
                >
                  Last Name should be at most 50 characters long
                </div>
              </div>
  
  
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input
                  type="text"
                  placeholder="Enter your number"
                  formControlName="phoneNo"
                />
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['phoneNo'].touched &&
                    formControls['phoneNo'].hasError('required')
                  "
                >
                  Phone Number is required
                </div>
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['phoneNo'].touched &&
                    formControls['phoneNo'].hasError('pattern')
                  "
                >
                  Invalid phone number format
                </div>
              </div>
              <div class="input-box">
                <span class="details">Address</span>
                <input
                  type="text"
                  placeholder="Enter your address"
                  formControlName="address"
                />
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['address'].touched &&
                    formControls['address'].hasError('required')
                  "
                >
                  Address is required
                </div>
                <div
                  class="textcolour"
                  *ngIf="
                    formControls['address'].touched &&
                    formControls['address'].hasError('maxlength')
                  "
                >
                  Address should not exceed 255 characters
                </div>
              </div>
            </div>
              <div  >
            </div>
            <input type="submit" class="submit-button" />
          </form>
          <div >  
          </div>
        </div>
      </div>
    </div>
  </div> 


  