<!-- <p>fibernet-broadband works!</p> -->
<section class="spotligth">
    <div>
        <img
          class="spotlight-right"
          src="../assets/images/fibernet-broadband/spotlight.jpg"
        />
    </div>
    <div class="spotlight-left">

        <h1>Fiber BroadBand Connection</h1>
        <p>RevSpeed Fibernet has changed how people stream, work and play across the nation. In the past few years, the RevSpeed Fibernet family has grown to 2 million happy customers in 19 cities.</p>
    </div>

</section>