<!-- <p>fibernet-broadband works!</p> -->
<section class="spotligth">
  <div>
    <img
      class="spotlight-right"
      src="../assets/images/fibernet-broadband/spotlight.jpg"
    />
  </div>
  <div class="spotlight-left">
    <h1 style="color: #006fff; font-size: 40px; text-align: center">
      Fiber BroadBand Connection
    </h1>
    <p style="text-align: justify; font-size: 20px; line-height: 35px">
      RevSpeed Fibernet has changed how people stream, work and play across the
      nation. In the past few years, the RevSpeed Fibernet family has grown to 2
      million happy customers in 19 cities.
    </p>

    <div class="plans">
      <div class="plan">
        <h1>Support</h1>
        <p>
          From our installation technicians to customer support teams, we’re
          committed to providing the very best experience for you.
        </p>
      </div>
      <div class="plan">
        <h1>Reliability</h1>
        <p>
          With Brightspeed Fiber's expanding network, we're bringing you a
          dependable connection with ultrafast speeds.
        </p>
      </div>
      <div class="plan">
        <h1>Simplicity</h1>
        <p>
          We keep things simple: straightforward bills, uncomplicated plans, and
          internet you can depend on.
        </p>
      </div>
    </div>
    <button routerLink="../plans" class="fiber-button">
      Get New Connection
    </button>
  </div>
</section>

<!-- what is revspeed fibernet -->
<section class="what">
  <div class="what-right">
    <h2 style="font-size: 40px; color: rgb(22, 21,  21)">
      What does RevSpeed Fibernet do ?
    </h2>
    <ul style="font-size: 20px; line-height: 35px;">
      <li>
        Our key focus areas lie in providing innovative broadband services using
        fiber optic technology and other value-added features.
      </li>
      <li> As an internet service provider, we serve people and businesses across
        India with high-speed internet, seamless connectivity, and several data
        plans.
      </li>
      <li>
        A We also offer advanced broadband services to businesses of all sizes,
        and our wireless services connect consumers and businesses.
      </li>
      <li>
        RevSpeed Fibernet has also joined hands with several streaming apps to
        deliver compelling entertainment experiences for its customers.
      </li>
      <li>
        So, whether you intend to use the internet for your home or workplace,
        we offer you the fastest, most consistent, and unparalleled internet
        experience through the latest technology of fiber broadband.
      </li>
    </ul>
  </div>
</section>

<!-- technology -->
<section>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/images/fibernet-broadband/technology-logo.jpg"
          class="d-block w-100 image-small"
        />
        <h1 class="d-block w-100" style="font-size: 50px; ">Technology</h1>
        <p class="d-block w-60" style="font-size: 25px; line-height: 40px; word-spacing: 5px;">
          We bring the latest and most advanced fiber optic technology to your
          home to provide a seamless internet connection. RevSpeed SmartFiber
          technology combines our technical expertise with our decade-long
          understanding of consumer usage to provide you with a truly smart
          internet experience.
        </p>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/images/fibernet-broadband/speed.png"
          class="d-block w-100 image-small"
        />
        <h1 class="d-block w-100"  style="font-size: 50px; ">Speed</h1>
        <p class="d-block w-60" style="font-size: 25px; line-height: 40px; word-spacing: 5px;">
          RevSeed Fibernet makes sure its customers are getting virtual
          dedicated bandwidth specifically for them when it comes to speed. This
          ensures equal upload and download speed along with streaming without
          buffering!
        </p>
      </div>
      <div class="carousel-item">
        <img
          src="../assets/images/fibernet-broadband/service.jpg"
          class="d-block w-100 image-small"
        />
        <h1 class="d-block w-100"  style="font-size: 50px; ">Service</h1>
        <p class="d-block w-60" style="font-size: 25px; line-height: 40px; word-spacing: 5px;">
          As a broadband service, we proactively ensure that your internet
          browsing experience is hassle-free. Our RevSpeed Fibernet service
          keeps an eye on the entire network downtime and reaches out to the
          customers via various mediums as and when required.
        </p>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- need guidance  -->
<section style="background-color: #cccccc; border-radius: 10px;">
  <div class="section1">
    <div class="guidance">
      <h1 class="guidance-heading">Need guidance ?</h1>
      <h3>We'd love to help you</h3>
      <div class="buttons-container">
        <button class="support-button">
          <i class="fas fa-life-ring"></i>Support
        </button>
        <button class="call-button">Contact Us</button>
      </div>
    </div>
  </div>
</section>
