<div class="header">
  <div class="logo">logo</div>
  <div class="user">
    <div class="user-name">Admin</div>
    <div class="user-image" [matMenuTriggerFor]="menu">
      <!-- User Image -->
      <!-- <img
        aria-label="Example icon-button with a menu"
        alt="user-image"
        src="" 
      />-->
      UR
      <!-- Dropdown Menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>