<!-- Heading Container -->
<div class="heading-container">
    <div class="row heading-container">
        <div class="col-md-6 left-container">
            <p class="bp-headline-p">Empower Your Business with RevSpeed Unleash the Speed, Embrace the Connectivity!</p>
            <img class="bp-headline-img img-fluid" src="../../../assets/images/business-broadband/price-poster.png" alt="poster-image">
        </div>
        <div class="col-md-6 right-container text-md-right">
            <img class="img-fluid" src="../../../assets/images/business-broadband/internet-provider.jpeg" alt="Your Image">
        </div>
    </div>
</div>


<!-- Line Container -->
<div class="line-container">
    <div>
        <h2>Discover unbeatable value in our bundled offerings: </h2><a href="tel:8558609068">855.860.9068</a>
    </div>
</div>

<!-- Two Column Container -->
<div class="container device-container">
    <div class="row">
        <div class="col-md-6 device-left-container text-center">
            <img class="img-fluid" src="../../../assets/images/business-broadband/devices-for-poster.jpeg" alt="device Image">
        </div>
        <div class="col-md-6 device-right-container">
            <p>Effortlessly link every dimension of your business with rapid, user-friendly, highly reliable Internet, phone, mobile, and TV solutions.</p>
        </div>
    </div>
</div>


<!-- Plan Card Container -->
<div class="plan-card-container">
    <h1>Exceptional benefits for your limited business budget.</h1>
    <div class="card-group">
        <div class="card">
          <img src="../../../assets/images/business-broadband/sample-cards.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">cheapest</h5>
            <p class="card-text">Propel your business forward with dependable Internet speeds and perks, including a complimentary domain name.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/business-broadband/sample-cards.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">best seller</h5>
            <p class="card-text">Ensure your business stays linked with a top-tier phone system. Effortlessly make calls, send messages, engage in video conferences, and more.</p>
            <a href="#" class="btn btn-primary ">Go somewhere</a>
        </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/business-broadband/sample-cards.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">unlimited</h5>
            <p class="card-text">Stay productive on the move with your complimentary Unlimited Mobile plan, featuring unlimited talk and text.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>    
</div>



<!-- Business Solutions Container -->
<div class="business-solutions-container">
    <p class="bs-headline">Business Solutions Made To Work</p>
    <p class="bs-sub-headline">Our U.S.-based team of small business specialists are here to help you get the right services for your needs. Call us today, Monday-Friday, 8AM-11PM ET.</p>
</div>

<!-- Call Cards Container -->
<div class="call-cards-container">
    <div class="call-card">
        <div class="call-icon">
            <img src="../../../assets/images/business-broadband/call-icon.png" alt="call-icon">
        </div>
        <h3>Call for Best Offers</h3>
        <a href="tel:8558609068">855.860.9068</a>
    </div>
    <div class="call-card">
        <div class="call-icon">
            <img src="../../../assets/images/business-broadband/form-icon.png" alt="call-icon">
        </div>
        <h3>Have a business specialist call you</h3>
        <button class="btn btn-link" type="submit" (click)="openDialog()">Submit Form</button>
    </div>
</div>
