body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.heading-container {
    max-width: 100%; /* Ensures the container resizes with the viewport */
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-container {
    flex: 1;
    margin-right: 15px;
}

.bp-headline-p {
    font-weight: 500;
    font-size: 1.8rem;
    max-width: 600px; /* Limit the maximum width for responsiveness */
    color: #00629b;
    letter-spacing: .1em;
    line-height: 1.2; 
    text-align: center;
    padding-top: 50px;
}

.bp-headline-img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.right-container {
    flex: 1;
    text-align: right;
}

.right-container img {
    max-width: 80%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}


//heading contianer ends


//line container starts

.line-container {
    text-align: center;
    background-color: #3498db; 
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line-container > div {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.line-container > div > h2 {
    margin: 0;
    font-size: 1.8rem; 
}

.line-container > div > a {
    text-decoration: none;
    color: #fff;
    margin-left:10px; 
    font-size: 1.8rem; 
}

.line-container > div > a:hover{
    color: darkblue;
    text-decoration: underline;
}

// device container start

.device-container{
    margin-bottom: 2rem;
}
.device-left-container img {
    margin-right: 15px; /* Adjust the gap between image and text */
    border-radius: 5px;
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 60vh; /* Adjust the maximum height of the image */
}

.device-right-container {
    max-width: 400px; /* Set a maximum width for better control over the text width */
}

.device-right-container p {
    color: #004c7e; /* Slightly darker text color */
    font-size: 1.8rem; /* Decreased font size for better readability */
    font-weight: bold; /* Bold text */
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word; /* Allow multiple lines */
    line-height: 1.4; /* Adjusted line height for better readability */
}


//device-container ends

//plans-card container starts

.plan-card-container{
    margin-top: 2rem;
}

.plan-card-container > h1{
    font-size: 2.8rem;
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
}

.plan-card-container .card {
    max-width: 50rem;
    max-height: 30rem;
    margin-right: 10px;
    margin-left: 20px;
}

.plan-card-container .card-title {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.card-img-top{
    max-height: 100px;
}

//card container ends


// call cards heading starts

.business-solutions-container{
    margin-top: 2rem;
}

.bs-headline {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 1.8rem;
}

.bs-sub-headline{
    margin: 10px;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}




/* Call Cards Container */
.call-cards-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.call-cards-container > div > a {
    color:  #3498db;
    font-size: 1.8rem; 
}

.call-cards-container > div > a:hover{
    color: darkblue;
}

.call-card {
    text-align: center;
    width: 45%;
    padding: 20px;
    border: 1px solid #dcdcdc; /* Add your preferred border color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add your preferred box shadow */
}

/* Add more styling as needed for h3 and p elements inside the .call-card */
.call-card h3 {
    margin-top: 10px;
    font-size: 18px; /* Customize the font size */
}

.call-card p {
    margin-top: 5px;
    font-size: 16px; /* Customize the font size */
}

.form-button{
    text-decoration: none;
}