<div class="card-right">
  <img src="../../../../../assets/images/users/user-plan-img.jpg" />
  <div class="user-plan-cardnew" *ngIf="! planispresent"> 
    <h1>You dont have any plans </h1>
    <button routerLink="../../front-page/plans" >Buy plans </button>
  </div>
  <div *ngIf="planispresent">
    <div class="user-plan-card">
      <div class="card-header">
        <h2>{{oneUser.user?.firstName}} {{oneUser.user?.lastName}}</h2>
      </div>
      <div class="contend">
        <div class="plan-details">
          <h2>Plan Name: {{oneUser.broadbandPlans?.planName}}</h2>
         
          <h2>Start Date: {{oneUser?.subscriptionStartDate}} </h2>
          <h2>End Date: {{oneUser?.subscriptionEndDate}}</h2>
        </div>
        <div class="plan-details">
          <h2>Amount :  {{oneUser.broadbandPlans?.price}}</h2>
        </div>
      </div>
      <div class="active-button">Active</div>
      <div class="upgrade-message transparent-message">
        <p>Update your plans now for exciting new features!</p>
        <button class="transparent-button" routerLink="../../front-page/plans">Upgrad Plans</button>
      </div>
      <hr />
  
      <div class="payment-status green">Plan Amount Paid</div>
    </div>
  </div>
 
</div>

<!-- earn and refer -->
<section class="section-dark">
  <div class="container refer-container">
    <div class="block block-one">
      <div class="text-left">
        <h2 class="section-title text-black">Refer &amp; Earn</h2>
        <span class="seperator seperator-black seperator-start"></span>
      </div>
      <h3 class="med-text text-black mb-1 mt-1">
        Refer a friend to fetch rewards!
      </h3>
      <p class="text-black mb-1">
        Refer your friends and neighbours to ACT Fibernet and enjoy Rs.250 off
        on your next bill.
      </p>
      <div class="btnWrap mt-1">
        <a
          tabindex="0"
          href=""
          title="Refer a Friend to ACT"
          class="black-sm-btn text-uppercase"
          >Refer Now</a
        >
      </div>
    </div>
    <div class="block block-two"></div>
  </div>
</section>

<section class="section-title">
  <h2>Offers For You</h2>
</section>

<!-- slider -->
<section>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="../../../../../assets/images/offer1.webp"
          class="d-block w-100 imgCenter"
          alt="..."
          width="50%"
          height="200vh"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../../../assets/images/offer2.jpg"
          class="d-block w-100 imgCenter"
          alt="..."
          width="50%"
          height="200vh"
        />
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/images/offer3.jpg"
          class="d-block w-100 imgCenter"
          alt="..."
          width="50%"
          height="200vh"
        />
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- faq -->
<section class="faq-block pt-2 pb-2">
  <div class="container refer-container faq-container">
    <div class="block block-one">
      <div class="text-left">
        <h2 class="section-title text-white">frequently asked questions</h2>
        <span class="seperator seperator-white seperator-start"></span>
      </div>
      <h3 class="med-text text-white mb-1 mt-1">Have Questions?</h3>
      <p class="text-white mb-1">Read our FAQ to find out the answers...</p>
      <div class="btnWrap mt-1">
        <a
          tabindex="0"
          routerLink="/front-page/contact-us"
          title="Fibernet FAQs"
          class="white-sm-btn text-uppercase"
          >Read FAQ</a
        >
      </div>
    </div>
    <div class="block block-two"></div>
  </div>
</section>
