<div class="card-right">
  <img src="../../../../../assets/images/users/user-plan-img.jpg" />
  <div class="user-plan-card">
    <div class="card-header">
      <h2>User Name</h2>
    </div>

    <div class="contend">
      <div class="plan-details">
        <h2>ID: 123456</h2>
        <h2>Start Date: 2024-01-10</h2>
        <h2>End Date: 2024-02-10</h2>
      </div>
      <div class="plan-details">
        <h2>Amount</h2>
      </div>
    </div>

    <div class="active-button">Active</div>

    <!-- <div class="action-buttons">
      <button class="transparent-button">View Plans</button>
    </div> -->

    <div class="upgrade-message transparent-message">
      <p>Update your plans now for exciting new features!</p>
      <button class="transparent-button">Upgrad Plans</button>
    </div>
    <hr />

    <div class="payment-status green">Plan Amount Paid</div>
  </div>
</div>

<!-- earn and refer -->
<section class="section-dark">
  <div class="container refer-container">
    <div class="block block-one">
      <div class="text-left">
        <h2 class="section-title text-black">Refer &amp; Earn</h2>
        <span class="seperator seperator-black seperator-start"></span>
      </div>
      <h3 class="med-text text-black mb-1 mt-1">
        Refer a friend to fetch rewards!
      </h3>
      <p class="text-black mb-1">
        Refer your friends and neighbours to ACT Fibernet and enjoy Rs.250
        off on your next bill.
      </p>
      <div class="btnWrap mt-1">
        <a tabindex="0" href="" title="Refer a Friend to ACT" class="black-sm-btn text-uppercase">Refer Now</a>
      </div>
    </div>
    <div class="block block-two"></div>
  </div>
</section>


<!-- faq -->
<section class="faq-block pt-2 pb-2">
  <div class="container refer-container faq-container">
    <div class="block block-one">
      <div class="text-left">
        <h2 class="section-title text-white">
          frequently asked questions
        </h2>
        <span class="seperator seperator-white seperator-start"></span>
      </div>
      <h3 class="med-text text-white mb-1 mt-1">Have Questions?</h3>
      <p class="text-white mb-1">
        Read our FAQ to find out the answers...
      </p>
      <div class="btnWrap mt-1">
        <a tabindex="0" href="" title="Fibernet FAQs" class="white-sm-btn text-uppercase">Read FAQ</a>
      </div>
    </div>
    <div class="block block-two"></div>
  </div>
</section>

