<div class="side-nav-container">
    <div class="nav-items-container">
        <div class="nav-items">
            <a routerLink="dashboard">
                <fa-icon [icon]="faDashboard"></fa-icon>
                <span>Dashboard</span>
            </a>
        </div>
        <div class="nav-items">
            <a routerLink="analytics">
                <fa-icon [icon]="faChartLine"></fa-icon>
                <span>Analytics</span>
            </a>
        </div>
        <div class="nav-items">
            <a routerLink="plans">
                <fa-icon [icon]="faList"></fa-icon>
                <span>Plans</span>
            </a>
        </div>
        <div class="nav-items">
            <a routerLink="broadband-users">
                <fa-icon [icon]="faUser"></fa-icon>
                <span>Broadband Users</span>
            </a>
        </div>
        <div class="nav-items">
            <a routerLink="business-users">
                <fa-icon [icon]="faUserTie"></fa-icon>
                <span>Business Users</span>
            </a>
        </div>
    </div>
</div>
